* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar-fix-top {
    background-color: #0C1A25;
    color: #EE933A;
    width: 100%;
    padding: 14px 0px 10px 104px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    height: 40px;
    align-items: center;
}

#navbar-fix-top .title {
    color: rgb(254, 149, 43);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
/* START HOMEPAGE CSS */
body {
    background-color: #F2F2F2;
}

.mini-wrapper {
    width: 1055px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

    .hpp1-left {
        width: 50%;
        height: 100%;
        border: 1px solid #016650;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom-right-radius: 40%;
    }

    .hpp1-left-text {
        background:
        linear-gradient(#00493A, transparent),
        linear-gradient(to top left, rgb(52, 155, 69), transparent),
        linear-gradient(to top right, rgb(18, 17, 94), transparent);
        background-blend-mode:color-burn;
        height: 70px;
        margin-top: 40px;
        padding-top: 20px ;
        padding-left: 20px;
        padding-bottom: 40px;
        color: white;
        text-decoration: bold;
        width: 70%;
        font-size: 25px;
        border-bottom-right-radius: 40%;
    }

    .hpp1-left-text-2 {
        padding-left: 20px;
        padding-right: 30px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

        .hpp1-right {
            width: 50%;
            height: 100%;
        }

        .hpp1-right-img {
            height: 99%;
        }
        .hpp1-green {
            display: inline-block;
            color: #01503F;
            text-decoration: underline;
            font-size: 20px;
        }
/* CHART */
.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
    box-sizing: border-box;
}


/* CHART-SKILLS STYLES
          –––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
    position: relative;
    width: 196px;
    height: 97px;
    overflow: hidden;
    margin:30px
}

.chart-skills::before,
.chart-skills::after {
    position: absolute;
}

.chart-skills::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
}

.chart-skills::after {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
    .chart-skills-1::after{
        content: 'VNINDEX';
    }
    .chart-skills-2::after{
        content: 'VN30';
    }
    .chart-skills-3::after{
        content: 'MidCap';
    }
    .chart-skills-4::after{
        content: 'SmallCap';
    }
.chart-skills li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
    z-index: 4;
    border-color: #498A50;
    animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
    z-index: 3;
    border-color: #FEAA55;
    animation-name: rotate-two;
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) {
    z-index: 2;
    border-color: #EC6E61;
    animation-name: rotate-three;
    animation-delay: .8s;
}

.chart-skills span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
}

.chart-skills li:nth-child(1) span {
    top: 5px;
    left: 10px;
    transform: rotate(-21.6deg);
}

.chart-skills li:nth-child(2) span {
    top: 20px;
    left: 10px;
    transform: rotate(-79.2deg);
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) span {
    top: 18px;
    left: 10px;
    transform: rotate(-140.4deg);
    animation-delay: .8s;
}

.chart-skills li:nth-child(4) span {
    top: 10px;
    left: 10px;
    transform: rotate(-180deg);
    animation-delay: 1.2s;
}


/* ANIMATIONS
          –––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
    100% {
        transform: rotate(36deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(36deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotate(144deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes fade-in {
    0%,
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* FLEXING AND POSITIONING */
.chart-semi-cirkle {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 120px;
}
.chart1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.hpp2-left, .hpp5-left {
    width: 48%;
    box-shadow: 0px -1px 29px -3px rgba(0,0,0,0.75);
    border-radius: 25px;
}
    .hpp2-left-text {
        color: #00654F;
        margin-top: 40px ;
        margin-bottom: 30px;
        margin-left: 30px;
        border-bottom: 2px solid #00654F;
        width: 310px;
        font-size: 20px;
    }
    .hpp2-btn {
        display: flex;
        justify-content: center;
    }
        .hpp2-btn1 {
            margin-right: 20px;
            padding: 5px;
            border-radius: 6px;
            border: 1px solid #C4C4C4;
        }
        .hpp2-btn2 {
            margin-left: 20px;
            padding: 5px;
            border-radius: 6px;
            background-color: #007D51;
            color: white;
            border: none;
        }
    .elements {
        display:flex;
        justify-content: center;
    }
        .color-box {
            width: 14px;
            height: 16px;
            border-radius: 2px;
            margin-right: 10px;
            margin-left: 10px;
        }
            .color-box1 {
                background-color: #498A50;
            }
            .color-box2 {
                background-color: #FEAA55;
            }
            .color-box3 {
                background-color: #EC6E61;
            }
    .hpp2-red {
        margin-top: 36px ;
        margin-bottom: 26px;
        margin-left: 60px;
        background-color: #DDDDDD;
        width: 400px;
        box-shadow: 0px -1px 29px -3px rgba(0,0,0,0.75);
        padding: 30px;
        border-radius: 20px;
    }
        .hpp2-red-1 {
            color: #EA6556;
        }
        .hpp2-red-2 {
            text-decoration: underline;
        }
        .hpp2-green {
            float: right;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        .hpp2-green-1 {
            color: #008568;
            text-decoration: underline;
        }

.hpp2-right, .hpp5-right {
    width: 48%;
    box-shadow: 0px -1px 29px -3px rgba(0,0,0,0.75);
    border-radius: 25px;
    margin-left: 40px;
}
    .hpp2-right-text {
        color: #00654F;
        margin-top: 40px ;
        margin-bottom: 30px;
        margin-left: 30px;
        border-bottom: 2px solid #00654F;
        width: 310px;
        font-size: 20px;
    }
/* DONUT CHART */
.full-pie-chart {
    margin-top: 90px;
    margin-bottom: 80px;
}
.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
}
    p.center {
        background: white;
        position: absolute;
        text-align: center;
        font-size: 20px;
        top:0;left:0;bottom:0;right:0;
        width: 130px;
        height: 130px;
        margin: auto;
        border-radius: 50%;
        line-height: 35px;
        padding: 15% 0 0;
    }
      
      
    .portion-block {
        border-radius: 50%;
        clip: rect(0px, 200px, 200px, 100px);
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .circle {
        border-radius: 50%;
        clip: rect(0px, 100px, 200px, 0px);
        height: 100%;
        position: absolute;
        width: 100%;
        font-family: monospace;
        font-size: 1.5rem;
    }
      
      
    #donut-chart-1 {
        transform: rotate(0deg);
    }
  
      #donut-chart-1 .circle {
          background-color: #E64C65;
          /*transform: rotate(76deg);*/
          animation: first 1s 1 forwards;
        }
      
      
    #donut-chart-2 {
      transform: rotate(100deg);
    }
        #donut-chart-2 .circle {
            background-color: #FFD95D;
            animation: second 1s 1 forwards 1s;
    }
  #donut-chart-3 {
      transform: rotate(250deg);
  }
      #donut-chart-3 .circle {
          background-color: #45984D;
          animation: third 0.5s 1 forwards 2s;
      }
      
      
  /* Animation */
  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(100deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(150deg);}
  }
      
  @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(111deg);}
  }

.color-box4 {
    background-color: #FFD95D;
}
.color-box5 {
    background-color: #45984D;
}
.color-box6 {
    background-color: #EE8176;
}
/* hpp5 */
.hpp5-video {
    margin-left: 30px;
    margin-bottom: 20px;
}
.hpp5-text {
    padding: 30px;
    color: #263238;
    font-size: 20px;
}
.hpp5-news a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.hpp5-news {
    margin-left: 30px;
    margin-right: 70px;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
.ant-btn-default {
    float: right;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #077461;
    margin-top: 30px;
    margin-bottom: 42px
}
.home-page-preview-6 {
    width: 1055px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px -1px 29px -3px rgba(0,0,0,0.75);
    border-radius: 25px;
    margin-left: 145px;
}
    .nhanDinh {
        margin:40px ;
        border: 1px solid #1D6E25;
        padding: 30px;
        border-radius: 20px;
        padding-right: 100px;
    }
    .nhanDinhCP {
        margin-left: 50px;
    }
    .nhanDinh-text {
        width: 220px;
        margin-bottom: 30px;
        margin-top: -50px;
        color: white;
        padding: 10px;
        font-size: 20px;
        border-bottom-right-radius: 40%;
        background:
        linear-gradient(#00493A, transparent),
        linear-gradient(to top left, rgb(52, 155, 69), transparent),
        linear-gradient(to top right, rgb(18, 17, 94), transparent);
        background-blend-mode:color-burn;
    }
.thamKhao {
    margin-left: 100px;
    width: 600px;
    text-align: center;
}
    .thamKhao-btn {
        padding: 30px;
        border-radius: 20px;
        background-color: #007D51;
        color: white;
        font-weight: 400;
        margin-right: 30px;
        border: none;
    }
    .thamKhao-text {
        padding-bottom: 30px;
        font-weight: 600;
    }
.home-page-preview-4 {
    padding-bottom: 30px;
}
.hpp4-text {
    padding-top: 40px;
}
.home-page-preview-4, .home-page-preview-6 {
    width: 1055px;
    margin: auto;   
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px -1px 29px -3px rgba(0,0,0,0.75);
}
.hpp4-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 1055px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
    .hpp4-left-box, .hpp4-right-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hpp4-left-box-1, .hpp4-right-box-1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .hpp4-btn {
        padding: 5px;
        width: 80px;
        border-radius: 10px;
        border: 1px solid #C4C4C4;
        background-color: #FFFFFF;
    }
    .hpp4-btn-xanh {
        background-color: #007D51;
        color: white;
    }
    .hpp4-date {
        border: 1px solid #C4C4C4;
        padding: 3px;
        border-radius: 10px;
    }
.ant-btn:hover {
    background-color: #007D51;
    color: white;
}
.home-page-preview-6 {
    margin-top: 40px;
}
.hpp2-left, .hpp2-right, .hpp5-left, .hpp5-right {
    background-color: white;
}
.chartMenu {
    height: 20px;
    /* color: rgba(255, 26, 104, 1); */
}

.chartMenu p {
    /* padding: 10px; */
    font-size: 20px;
}

.chartCard {
    width: 500px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
}
.home-page-preview-7 {
    margin-top: 10px;
}

/* END HOMEPAGE CSS */

/* Start Nav-right */
body {background-color: #F2F2F2;}
.nav-right-contact {
    position: fixed;
    left: 91%;
    top: 40%;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav-right-contact .icon-wrapper {
    width: 200px;
    display: flex;
    margin-bottom: 20px;
}

/* icon ben tay phai */
.nav-right-contact .nav-right-icon {
    position: fixed;
    left: 97.2%;
    transition: 0.9s;
}

    .nav-right-contact .nav-right-icon-fb {
        width: 35px;
        height: 39px;
        z-index: 10;
        position: fixed;
        top: 40.2%;
    }
    .nav-right-contact .nav-right-icon-yt{
        width: 36px;
        height: 39px;
        z-index: 10;
        position: fixed;
        top: 48.7%
    }
    .nav-right-contact .nav-right-icon-gr {
        width: 39px;
        height: 39px;
        z-index: 10;
        position: fixed;
        top: 56.85%
    }
    .nav-right-contact .nav-right-icon-tl {
        width: 40px;
        height: 40px;
        z-index: 10;
        position: fixed;
        top: 65.6%
    }

/* box icon tay phải */
.nav-right-contact .box-contact {
    width: 120px;
    height: 39px;
    z-index: 9;
    margin-left: 35px;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    text-align: center;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 13px;
    color: white;
    transition: 0.9s;
}

.nav-right-contact .box-contact-link {
    color: white;
    text-decoration: none;
}
    .nav-right-contact .box-fb{
        background-color: #295396;
        opacity: 0%;
        position: fixed;
        top: 40.2%;
    }
    .nav-right-contact .box-yt{
        background-color: #FF0000;
        opacity: 100%;
        position: fixed;
        top: 48.7%
    }
    .nav-right-contact .box-gr{
        opacity: 0%;
        background-color: #3E9EF8;
        position: fixed;
        top: 56.85%
    }
    .nav-right-contact .box-tl{
        opacity: 0%;
        background-color: #239CD7;
        position: fixed;
        top: 65.6%
    }

.nav-right-contact .box-contact-click  {
    width: 100px;
    margin-left: 102px;
}
/* Transition */
/* Icon */
.nav-right-contact .box-contact-click:hover .nav-right-icon-fb {
    position: fixed;
    left: 92.9%;
}
.nav-right-contact .box-contact-click:hover .nav-right-icon-yt {
    position: fixed;
    left: 92.9%;
}
.nav-right-contact .box-contact-click:hover .nav-right-icon-gr {
    position: fixed;
    left: 92.9%;
}
.nav-right-contact .box-contact-click:hover .nav-right-icon-tl {
    position: fixed;
    left: 92.9%;
}
/* Box */
.nav-right-contact .box-contact-click:hover .box-fb {
    margin-left: -76px;
    opacity: 100%;
}
.nav-right-contact .box-contact-click:hover .box-yt {
    margin-left: -75px;
    opacity: 100%;
}
.nav-right-contact .box-contact-click:hover .box-gr {
    margin-left: -75px;
    opacity: 100%;
}
.nav-right-contact .box-contact-click:hover .box-tl {
    margin-left: -75px;
    opacity: 100%;
}
/* Right-conner-contact zalo and messenger */
.right-conner-contact {
    display: flex;
    flex-direction: column;
}
    .right-conner-contact .right-conner-icon {
        width: 50px;
        height: 50px;
    }
    .right-conner-contact .right-conner-icon-zalo {
        position: fixed;
        top: 81%;
        left: 96.3%;
        cursor: pointer;
    }
    .right-conner-contact .right-conner-icon-messenger {
        position: fixed;
        top: 90%;
        left: 96.3%;
        cursor: pointer;
    }

/* Zalo */
.zalo-chat-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 301px;
    height: 0px;
    border-radius: 20px;
    box-shadow: -3px 1px 22px -1px rgba(0,0,0,0.53);
    position: fixed;
    left: 75.9%;
    top: 20%;
    z-index: 12;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0%;
}

.zalo-chat-box-top {
    display: flex;
    padding-left: 20px;
    align-items: left;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1474FF;
    color: white;
    width: 100%;
    height: 30%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 10px;
}
    .status-active {
        width: 12px;
        height: 12px;
        background-color: #FAA81A;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        top: 38px;
        left: 34px;
    }
    .zalo-chat-box-avatar {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: relative;
        
    }
    .zalo-chat-box-top-1 {
        display: flex;
        align-items: center;
    }
    .zalo-chat-box-top-text {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 600;
    }
    .zcbt-btn {
        margin-left: 9px;
        padding: 8px;
        background-color: #267FFF;
        border-radius: 50%;
        border: none;
        color: #EFF5FF;
    }
    .zcbt-text {
        font-size: 16px;
        margin-left: 5px;
        font-weight: 400;
    }

.zalo-chat-box-middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: white;
    border-bottom: 2px solid #E4E8EC;
    justify-content: space-evenly;
    padding: 80px 0px 80px 0px;
}
    .zcbm-text {
        color: #8397A7;
    }
    .zcbm-btn {
        width: 90%;
        height: 100px;
        margin-top:10px;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        padding: 20px;
    }
        .zcbm-btn-1{
            background-color: #0068FF;
            color: white;
        }
        .zcbm-btn-2{
            background-color: #E4E8EC;
            color: #383838;
        }

.zalo-chat-box-bottom {
    width: 100%;
    height: 10%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
    .zcbb-btn{
        width: 100px;
        height: 20px;
        border-radius: 5px;
        margin-right: 10px;
        border: none;
        font-size: 14px;
        font-weight: 550;
    }
        #zcbb-btn-tv {
            background-color: #EDF5FF;
            color: #1D79FF;
            cursor: pointer;
        }
        #zcbb-btn-el {
            background-color: white;
            color: #383838;
            cursor: pointer ;
        }
/* Function */
.online-color {
    background-color: #EDF5FF ;
    color: #1D79FF ;
    font-size: 14px;
    font-weight: 550;
}
.offline-color {
    background-color: white ;
    color: #383838 ;
    font-size: 14px;
    font-weight: 550;
}
.zalo-off {
    height: 0px !important;
    opacity: 0%;
}
.zalo-onl{
    height: 400px !important;
    opacity: 100%;
}

/*  Nav-left */
.nav-left-warper{
    width: 50px;
    height: 1000px;
    background-color: #00654F;
    overflow: hidden ;
    display: flex;
    flex-direction: column;
    transition: 0.6s;
    position: relative;
}
.chu0{
   font-size: 15px;
   color: yellow;
   float: left;
   padding-top: 10px;
   /* margin-bottom: 20px; */
}
.nav-left-warper .fa-solid{
   /* width: 28px; */
   font-size: 25px;
   padding: 15px;
   color: white;
   margin: left 10px;
}
.nav-left-warper .fa-bars{
    font-size: 40px;
    padding: 10px;
    padding-left: -10px;
    padding-bottom: 20px;
 }
 .nav-left-container{
    width: 5%;
    height: 100%;
    position: fixed;
    top: 6.4%;
    z-index: 1000;
    overflow: scroll;
    transition: 0.6s;
 }
  
 .nav-left-warper .fa-magnifying-glass{
    color:black;
     float: right;
    width: 20%;
    margin-top: -45px;
    margin-right: 25px;
   position: relative;
   /* padding-left: 100px; */

  }
 .nav-left-warper .nav-left-search{
    width: 80%;
    height: 38px;
      margin-left: 10px;
    border-radius: 20px;
    padding-left: 20px;
    
  } 
 .nav-left-dong{
    display: flex;
    justify-content: flex-start;
    width: 250px;
    align-items: center;
    transition: 0.6s;
 }
 .nav-left-text{
    font-size: 12px;
    padding-left: 20px;
    color: white;    
    font-family: 'Courier New', Courier, monospace;

 }
 a:-webkit-any-link {
   text-decoration: none;
 }
 .fa-chart-mixed{
    width: 20px;
    height: 20px;
 }
 .nav-left-dong:hover{
    background-color: #09432c;
 
  }
 .nav-left-container:hover {
    width: 19%;
 }
 .nav-left-warper:hover{
    width: 250px;
 }
 .fa-magnifying-glass {
   transition: 0.6s;
 }
 .nav-left-warper:hover .fa-magnifying-glass{
   padding-left: 170px;
 }


.nav-left-warper .fa-house{
    color: rgb(206, 206, 60);
  
}
/* FOOTER START */
.footer-father-box{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    padding-left: 5%;
    /* margin-bottom: 100%; */
}
.footer-father-box .children-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #00654F;
}
.children-box .footer-text-1{
    width: 400px;
    color: white;
}
.children-box .footer-text-white{
    color: white;
}
.footer-father-box .anh-dmca{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.footer-father-box .footer-brands{
font-size: 30px;
padding: 5px;
background-color: white;
border-radius: 5px;
margin: 10px;
margin-top: 20px;
margin-bottom: 20px;

}
.footer-father-box .footer-solid{
    font-size: 30px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}
/* .footer-father-box .fa-circle-z{
    width: 50px;
} */
.footer-father-box .footer-small-box-1{
    display: flex;
    justify-content: space-between;
    width: 600px;  
    color: white;
    margin-top: 70px;
}
.footer-father-box .footer-chu5{
    color: white;
   padding-top: 250px;
   padding-left: 50px;
}
.footer-father-box .footer-khungnho{
    margin-top: 40px;
}
.footer-father-box .footer-bangnho2{
    padding-bottom: 50px;
}
.footer-father-box .footer-bangnho3{
    padding-bottom: 50px;
}
.footer-father-box .footer-chu9{
   margin-top: 10px;
}
/* FOOTER END */
/* Menu start */
.menu-container {
    width: 1350px;
    height: 75px;
    background-color: #00654f;
    display: flex;
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3%;
  }
  .menu-box {
    display: flex;
  }
  .menu-logo {
    width: 200px;
    height: 100%;
  }
  .menu-logo img {
    width: 70%;
    margin-top: 15px;
    margin-left: 60px;
  }
  
  .menu-box div {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    height: 75px;
    width: 150px;
    font-size: 18px;
  
    border-bottom: 2px solid #00654f;
  }
  .menu-box div:hover {
    background-color: white;
    color: #00654f;
  }
  .menu-container div .btn {
    width: 150px;
    height: 100%;
    background-color: #00654f;
    border: none;
    padding-top: 15px;
    font-size: 15px;
    color: white;
  }
  .fa-right-to-bracket {
    position: absolute;
    top: 60px;
    left: 1230px;
    background-color: #00654f;
    color: orange;
  }
  
  .menu-box-1 {
    position: absolute;
    top: 115px;
    left: 400px;
    width: 200px;
    list-style: none;
    line-height: 30px;
    color: #00654f;
    display: none;
    background-color: white;
    z-index: 20;
  }
  .menu-con {
    border-bottom: 1px solid #00654f;
    padding-left: 5px;
  }
  .abc:hover .menu-box-1 {
    display: block;
  }
  
  .menu-box-2 {
    position: absolute;
    top: 115px;
    left: 700px;
    width: 260px;
    list-style: none;
    line-height: 30px;
    color: #00654f;
    display: none;
    background-color: white;
    z-index: 20;
  }
  .menu-con-1 {
    border-bottom: 1px solid #00654f;
    padding-left: 5px;
  }
  .acb:hover .menu-box-2 {
    display: block;
  }
  .btn:hover {
    cursor: pointer;
  }
 